body {
	background: coral;
}
header {
	font-family: "Times New Roman";
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
#image1 {
    max-width: 35%;
}
nav {
    color: white;
    background: black;
    padding: 20px;
}
article {
    background-color: dodgerblue;
    padding: 10px;
}
footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}
aside {
    color: white;
    background: gray;
    padding: 20px;
}
#fig-capt {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
}